@font-face {
    src:url(../fonts/Heebo-Bold.ttf);
    font-family:Heebo-Bold;
}
@font-face {
    src:url(../fonts/Heebo-Medium.ttf);
    font-family:Heebo-Medium;
}
@font-face {
    src:url(../fonts/Heebo-Light.ttf);
    font-family:Heebo-Light;
}

body {
    background-color: rgb(27, 27, 27);
    color:white;
    font-family:Heebo-Light;
}
h1,h2,h3,h4,h5,h6 {
    font-family:Heebo-Medium;
}
/* Header */
header {
    /* padding:10% 0px 0% 0px; */
}

/* Nav */

nav {
    padding:10px 0px;
    font-size:21px;
}

/* Links */

nav a:hover {
    color: #96aabe;
}

/* Header Nav */

.header-nav {
    color: #768EA6;
    margin-right: 10px;
}
nav a {
    transition: 0.5s;
}

/* Avatar Image */

img#avatar_hi {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    max-width:256px;
    width:100%;
    /* transform:translate(-50%,10%); */
    /* position:absolute; */
}

/* Main */

main {
    /* padding:3% 0%; */
}

/* Footer */

footer {
    padding:5% 0%;
    background: #333333;
}

/* Card */

.card {
    opacity: 0;
    /* border-radius: 10px; */
}

/* Card Header */

.card-header {
    background-color: #dbdbdb;
    color:black;
}

/* Side Project Button */

.side-proj-btn {
    background: #000000;
    transition: background-color 0.5s;
}

.side-proj-btn:hover {
    background: #222222;
}