@font-face {
    src:url(../fonts/Heebo-Bold.ttf);
    font-family:Heebo-Bold;
}
@font-face {
    src:url(../fonts/Heebo-Medium.ttf);
    font-family:Heebo-Medium;
}
@font-face {
    src:url(../fonts/Heebo-Light.ttf);
    font-family:Heebo-Light;
}
@font-face {
    src:url(../fonts/Rubik.ttf);
    font-family:Rubik;
}

/* CHINESE FONT */
@font-face {
    src:url(../fonts/SongTi.otf);
    font-family:SongTi;
}
/* JAPANESE FONT */
@font-face {
    src:url(../fonts/MS-Mincho.ttf);
    font-family:MS-Mincho;
}

a {
    color:#768EA6;
}
a:hover {
    color:#96aabe;
}

body {
    background-color: rgb(27, 27, 27);
    color:white;
    font-family:Rubik;
}
h1,h2,h3,h4,h5,h6 {
    font-family:Rubik;
}
h6 {
    font-size:18px;
}
p,th,td {
    font-size:18px;
    font-weight:300;
}

/* FACE ICON */

#avatar {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    width:64px;
    content: url(../img/avatar_default.png);
}

#avatar:hover {
    width:112px;
    transform:translate(-24px,0px);
    content: url(../img/avatar_home.png);
}



/* Header */
header {
    /* padding:10% 0px 0% 0px; */
}

/* Nav */

nav {
    padding:10px 0px;
    font-size:21px;
}

/* Links */

nav a:hover {
    color: #96aabe;
}

/* Header Nav */

.header-nav {
    color: #768EA6;
    margin-right: 10px;
}
nav a {
    transition: 0.5s;
}

/* Avatar Image */

img#avatar_hi {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    max-width:256px;
    width:100%;
    /* transform:translate(-50%,10%); */
    /* position:absolute; */
}

/* Main */

main {
    /* padding:3% 0%; */
}

/* Footer */

footer {
    padding:5% 0%;
    background: #333333;
}

/* Card */

.card {
    opacity: 0;
    /* border-radius: 10px; */
}

/* Card Header */

.card-header {
    background-color: #dbdbdb;
    color:black;
}

/* Side Project Button */

.side-proj-btn {
    background: #000000;
    transition: background-color 0.5s;
}

.side-proj-btn:hover {
    background: #222222;
}

/* View more btn and side proj btn */

button {
    display:block;
    background:white;
    color:black;
    text-decoration: none;
    padding:10px;
    margin:20px auto;
    transition: 0.1s;
    border: none;
    border-radius: 100px;
    width:100%;
    max-width:200px;
}
button > a {
    color:black;
    text-decoration: none;
    font-family:Rubik;
}

/* button:hover {
    display:block;
    background:rgb(160, 160, 160);
    color:black;
    text-decoration: none;
    padding:10px;
    margin:20px auto;
    transition: 0.1s;
    border: none;
    border-radius: 100px;
    width:100%;
    max-width:200px;
} */

/* Side Project Image Overlay */

.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.75);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    padding:20px;
    /* transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
}

.side_project_img:hover .overlay {
    opacity: 1;
}

/* p5.js Canvas */

canvas#defaultCanvas0 {
    width:100%;
    max-width:600px;
    height:100%;
    display:block;
    margin:auto;
}

/* Fact Overlay */

div#fact_overlay {
    position:fixed;
    display:flex;
    background:rgba(0,0,0,0.5);
    width:100%;
    height:100%;
    left:0;
    top:0;
    margin:auto;
    display:none;
    opacity: 0;
}

div#fact_window {
    background:rgb(54, 54, 54);
    width:90%;
    max-width:600px;
    /* height:50%; */
    padding:30px;
    margin:auto;
    justify-content: center;
    text-align:center;
    border-radius: 10px;
}

/* BLOGS */

.blog {
    background-color: rgba(255, 255, 255, 0.1);
    padding:10px 15px 1px 15px;
    margin:15px 0px 15px 0px;
    border-radius:10px;
}

.blog:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.blog:active {
    background-color: rgba(255, 255, 255, 0.05);
}

.blog-title {
    font-size: 1.25rem;
    font-weight: 700;
}
.blog-timestamp {
    font-size: 1rem;
}
.blog-meta {
    font-size: 0.9rem;
    color: #aaaaaa;
}

#tag-list .btn-tag {
    border:2px solid white;
    margin:5px 10px 5px 0px;
    padding:5px 10px 5px 10px;
    border-radius:10px;
}
#tag-list .btn-tag-selected {
    border:2px solid white;
    background-color: white;
    color:#212529;
}
#tag-list .btn-tag .tag-checked {
    display:none;
}
#tag-list .btn-tag-selected .tag-checked {
    display:inline;
}