@font-face {
    src:url(../fonts/Montserrat-SemiBold.ttf);
    font-family:Montserrat;
}
@font-face {
    src:url(../fonts/Montserrat-Regular.ttf);
    font-family:Montserrat-Regular;
}
@font-face {
    src:url(../fonts/Peepo.otf);
    font-family:Peepo;
}
@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
    div#mcDivs, div.runningDivs, div#codingDivs {
        display:grid;
        grid-template-columns:repeat(1,1fr);
        grid-gap:10px;
    }
    #avatar_default {
        width:128px;
    }
    #avatarDiv table tr {
        font-size:12px;
    }
    #avatarWindow {
        /* height:82.5%; */
        top:100px;
        margin:100px auto;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
    div#mcDivs, div.runningDivs, div#codingDivs {
        display:grid;
        grid-template-columns:repeat(2,1fr);
        grid-gap:10px;
    }
    #avatar_default {
        width:196px;
    }
    #avatarWindow {
        /* height:82.5%; */
        margin:150px auto;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
    div#mcDivs, div.runningDivs, div#codingDivs {
        display:grid;
        grid-template-columns:repeat(3,1fr);
        grid-gap:10px;
    }
    #avatar_default {
        width:256px;
    }
    #avatarWindow {
        /* height:50%; */
        /* margin:5% auto; */
        top:100px;
        margin:200px auto;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 3;
    }
    div#mcDivs, div.runningDivs, div#codingDivs {
        display:grid;
        grid-template-columns:repeat(3,1fr);
        grid-gap:10px;
    }
}
body {
    background:#c0e6ff;
    font-family:Montserrat;
    overflow-x:hidden;
}
ul.nav {
    background: #264a74;
    color:white;
}
ul a {
    color:white;
}
ul a:hover {
    color:white;
}
header {
    padding:240px 0 240px 0;
    text-align:center;
    background:rgb(175, 215, 247);
    z-index:1;
    position:relative;
}
main {
    position:relative;
}
div#canvas,div#mainCanvas {
    z-index:-1;
    top:0;
    left:0;
    position:absolute;
    width:100%;
    height:100%;
    /* background:#000; */
}
section {
    /* padding:0% 0% 5% 0%; */
    margin:150px 5%;
    text-align:center;
    /* line-height:50px; */
}
div#ageBubble {
    width:160px;
    height:160px;
    margin:0 auto;
    padding:30px 0px;
    background:#264a74;
    color:white;
    border-radius:100px;
}
footer {
    background:rgb(175, 215, 247);
}
p {
    font-size:20px;
    font-family:Montserrat-Regular;
}
div.interestCell {
    background: #264a74;
    color:white;
    line-height:25px;
}
a.sectionBtn {
    background:rgb(255, 255, 255);
    padding:10px;
    color:black;
}
a.sectionBtn.disabled {
    background:rgba(255, 255, 255, 0.5);
    padding:10px;
    color:black;
}
a.sectionBtn:hover {
    background:rgb(190, 190, 190);
    padding:10px;
    color:black;
    text-decoration:none;
}
a.button {
    background:#264a74;
    padding:10px;
    color:white;
}
a.button:hover {
    background:#183250;
    padding:10px;
    color:white;
    text-decoration:none;
}
section#minecraftDesc {
    background:url(./bg_mc_1.jpg) center center;
    background-size: cover;
    margin:0;
    line-height:30px;
    display:flex;
}
section#myWorlds {
    background:url(./bg_mc_2.jpg) center center;
    background-size:cover;
    margin:0;
    line-height:30px;
    display:flex;
}
div.white-bg {
    background:rgba(255,255,255,0.8);
    margin:10px;
}
div.white-bg:nth-of-type(1) {
    margin:auto;
    padding:20px 0%;
}
img.coding-logo {
    width:80px;
}
.card {
    /* border-radius:0px; */
    color:black;
    background-color: #264a74;
}
.card-header {
    background-color: #183250;
    color:white;
}
div.card li {
    list-style-type: none;
}
.list-group-item {
    background:rgba(29, 67, 138, 0);
    color:rgb(0, 0, 0);
    border:none;
    font-family:Montserrat-Regular;
}
.list-group-item:not(:last-child) {
    border-bottom:1px solid rgba(0,0,0,0.2);
}
.list-group {
    border-radius:0;
    border-color:rgba(0,0,0,0);
}
img#image_location {
    width:80%;
    border:4px solid #264a74;
}
img#loadingSpinner {
    width:64px;
    height:64px;
    animation:rotating 4s linear 0s infinite reverse;
}
@keyframes rotating {
    from{transform:rotate(360deg)};
    to{transform:rotate(360deg)};
}
hr {
    border:1px solid rgba(90, 90, 90, 0.5);
    background:rgba(90, 90, 90, 0.5)
}
/* div#mcDivs {
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap:10px;
} */
div.mcDiv {
    width:100%;
    max-width:400px;
    margin:2.5% auto;
    position:relative;
    border:2px solid black;
    background:linear-gradient(
        rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)
    ), url(../img/minecraft/grass_side.png) center;
    background-position:center center;
    background-size:cover;
    image-rendering: pixelated;
    color:white;
    border:5px solid #112944;
    border-radius:25px;
}
div.runningDiv {
    width:100%;
    max-width:400px;
    margin:2.5% auto;
    position:relative;
    border:2px solid black;
    background:#112944;
    background-position:center center;
    background-size:cover;
    image-rendering: pixelated;
    color:white;
    border:5px solid #112944;
    border-radius:20px;
}
div.runningDiv img {
    width:100px;
}
div.codingDiv {
    width:100%;
    max-width:400px;
    margin:2.5% auto;
    position:relative;
    border:2px solid black;
    background:#112944;
    background-position:center center;
    background-size:cover;
    image-rendering: pixelated;
    color:white;
    border:5px solid #112944;
    border-radius:20px;
}
div.mcDiv p, div.runningDiv p, div.codingDiv p {
    font-size:15px;
}
div.codingDiv p {
    font-size:24px;
}
div.mcDiv:after,div.runningDiv:after {
    display:block;
    content:"";
    padding-bottom:100%;
}
div.codingDiv:after {
    display:block;
    content:"";
    padding-bottom:95%;
}
div.mcDiv div.mcDivContent
,div.runningDiv div.runningDivContent
,div.codingDiv div.codingDivContent {
    position:absolute;
    padding:25px 40px 40px 40px;
    width:100%;
    height:100%;
}
div.codingDiv div.codingDivContent {
    position:absolute;
    padding:20px 20px 20px 20px;
    width:100%;
    height:100%;
}
div.codingDivContent h2 {
    font-size:22px;
}
iframe {
    border:5px solid #264a74;
    border-radius:10px;
}
img#avatar_hi {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    max-width:256px;
    width:100%;
    transform:translate(-50%,0);
    position:absolute;
}
img#avatar_default {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    max-width:256px;
    min-width:128px;
    /* width:196px; */
    transform:translate(-10%,0%);
    /* width:100%; */
    /* position:absolute; */
}
#avatarDiv {
    /* display:none; */
    /* position:absolute; */
    left:auto;
    right:auto;
    width:50%;
    height:40%;
    z-index:1;
    font-family:Peepo;
    justify-content: center;
}
#avatarDiv table tr {
    font-size:13px;
    padding-right:5px;
}
#avatarDiv table td {
    padding-left:10px;
}
.overlay {
    background:rgba(0,0,0,0.5);
    position: fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    z-index:1;
    display:none;
}
#avatarWindow {
    width:90%;
    left:5%;
    right:5%;
    top:100px;
    /* top:15%;
    bottom:15%; */
    max-width:700px;
    margin:10% auto;
    min-width:300px;
    padding:10px;
    position: fixed;
    background: rgb(26, 28, 34);
    display:none;
    opacity:0;
    z-index:1;
    border:8px solid rgb(110, 26, 0);
    color:white;
}
#closeAvatarBtn {
    right:0;
    background:#6b0029;
    color:white;
    border:none;
    border-radius:50%;
    width:32px;
    height:32px;
    margin-left:auto;
    float:right;
}

#hintBox {
    background:rgb(33, 56, 87);
    width:160px;
    position:absolute;
    color:white;
    right:50%;
    left:50%;
    top:62.5%;
    /* width:50%; */
    margin:0% auto;
    z-index:1;
    padding-top:8px;
    display:none;
    opacity: 0;
}
/* .tooltip {
    position:relative;
    display:inline-block;
}

.tooltip #hint {
    visibility:hidden;
    background-color: navy;
    color:white;
    text-align:center;
    border-radius:12px;
    padding:5px 0;
    position:absolute;
    z-index:1;
}

.tooltip:hover #hint {
    visibility: visible;
} */