@font-face {
  font-family: Rubik;
  src: url("./assets/fonts/Rubik.ttf");
}

html,body {
  font-family: Rubik;
  background-color: rgb(27, 27, 27);
  color:white;
}

footer {
  background-color: rgba(225,255,255,0.1);
}

p {
  font-weight: 100;
}

.me-auto {
  font-size:20px;
  color:white;
}

a {
  color:#768EA6;
}

a:hover {
  color:#96aabe;
}